# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
.env

# Editor
.vscode/
.idea/
*.swp
.DS_Store

# Local artifacts
*.ics
!sample.ics

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
